{% extends 'base.html' %}
{% load static %}

{% block index %}

	{% include 'carusel.html' %}
	{% include 'price.html' %}

  	<section>
  		<div class="container class_form">
  			<h1 class="text-3">Please fill out the form below in order to get your ticket for a new adventure</h1>
  			<div class="row justify-content-center">
  			<form action="{% url 'thanks_page' %}" method="POST" style="width: 50%;">
				{% csrf_token %}
			  <div class="form-group row">
			    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label><br>
				{{ form.name }}
			    <div class="">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label><br>
				  {{ form.phone  }}
			    <div class="">
			    </div>
			  </div>
			  <div style="float: right;" class="form-group row">
			      <button type="submit" class="btn btn-success">Send</button>
			  </div>
			</form>
			</div>
  		</div>
  	</section>

{% endblock %}